.home {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    max-width: 60vw;
    padding-top: 15vh;
    min-height: 80vh;
  }
  
.home-title {
    font-size: 86px;
}

.home-subtitle {
  margin-top: -52px;
  font-size: 48px;
}