.navbar {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  max-width: 80vw;
  margin: 0 auto;
  background: #383961;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar h1 {
  color: #fffae3;
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 2rem;
}

.navbar .section-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 2rem;
}

.navbar .social-links {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 2rem;
}

.navbar a {
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  padding: 6px;
  transition: all 200ms ease-in;
  position: relative;
  color: #fffae3;
  display: flex;
  align-items: center;
}

.navbar a:hover {
  transform: scale(1.1);
}

.navbar a svg {
  font-size: 1.4rem;
  transition: all 200ms ease-in;
}

.navbar a:hover svg {
  transform: scale(1.1);
}